@charset "utf-8";
/* CSS Document */

@import url("rwd.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* For animation transition */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


::selection{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);/*選取範圍反白*/
}

body{
    background:rgb(0, 0, 0);
    /*   cursor: none; */
}

::-moz-selection{/*firefox*/
    color: rgba(255,255,255,1);
    background: rgb(255, 255, 255);
}

/* header */
header{
	position:relative;
	padding:15px 0px;
	color:rgba(255, 255, 255, 1);
	background:rgb(0, 0, 0);
	text-align:center;
}


.menu{
	position:absolute;
	right:20px;
	top:20px;
	width:30px;
	height:30px;
	font-size:30px;
	display:block;
}

.menu:hover{
	cursor:pointer;
}

.name{
    font-size: 30px;
    font-weight: 500;
}

/*nav*/
nav{
	width:100%;
	margin:auto;
	text-align:center;
	font-size:18px;

    border-bottom: 1px solid white;
}

li {
    margin-bottom: 0px;
    border-bottom:solid rgb(255, 255, 255) 1px;
}

.text-link {
    display: inline-block;
    padding:20px 30px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.text-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background:rgb(255, 255, 255);
    transition: width .3s;
}

.text-link:hover::after {
    width: 100%;
}

nav li a i{
    padding:20px 30px;
    color:rgb(255, 255, 255,1);

    transition: color 0.3s;/*為卡片的背景色和文字顏色添加過渡效果*/
    -webkit-transition:color 0.3s,;/*為 Safari 瀏覽器添加兼容性*/
}

nav li a i:hover{
    color:rgb(255, 255, 255,.5);
}

/* section */

section{
    position: relative;
    width: 90%;
    margin: auto;
    margin-top:0px; 
    margin-bottom: 40px;
    line-height :2em;
}

.paragraph {
    position: relative;
    height: 100%;
    max-width:100%;
    overflow: hidden;
    padding: 20px 0px;/*段落之間的間距*/
    text-align:left;
}


.banner{
    position: relative;
    max-width:100%;
    left:0px;
    right:0px;
    max-width:100%;
    margin: 0px auto 0px;/*跟上面的區塊距離0px 下緣0px*/

}

.title1{
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    line-height:1.5;
   

}

.title2{
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    line-height:1.5;
}

.title3{
    color:  rgb(255, 255, 255);
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    line-height:1.5;
}

article .content{
    color:   rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    word-wrap: break-word
}




/*footer*/
footer{
    clear: both;
    padding:80px 0px;
    text-align: center;
    color:  rgb(255, 255, 255);
    font-weight: 300;
}

/*滑鼠游標*/
#sketch-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }

/*===============rwd details===============*/

/* 768px 以上的螢幕寬樣式 */
/* For tablets */
@media only screen and (min-width: 768px) { 
    .name{
        font-size: 36px;
    }

	nav{
		position: -webkit-sticky;
		position:sticky;
		top:0;
		z-index:20;/* Z軸順序 z-index 较大的重叠元素会覆盖较小的元素*/
        background-color: black;
	}

	nav li{
		display: inline-block;
		border-bottom:solid rgba(255, 255, 255, 1) 0px;
	}

	
	.menu{
		display:none;	
	}
	
	section{
		line-height:2.5em;
		font-size:1.1em;
	}

    /* section */

    section{
        width: 85%;
        margin: 80px auto;
        margin-top:20px; 
        margin-bottom: 80px;/* 左右两侧留出80px的空白 */
        line-height :2em;
    }

    .paragraph {
        position: relative;
        height: 100%;
        max-width:100%;
        overflow: hidden;
        padding: 50px 0px;/*段落之間的間距*/
        text-align:left;
    }
     
    .paragraph img{
        text-align: center;
        float: center;
    }


}
